<div class="banner" style="background-image: url('<%= image_path "landing_page_car.webp" %>')">
  <div class="banner-btn">
    <h1><strong>Awesome Garage</strong></h1>
    <h3>Your personal garage with the cars of your dreams</h3>
    <%= link_to "Enter", cars_path, class: "btn btn-primary" %>
  </div>
</div>
